.forecast-block {
	border: 1px solid black;
}

.forecast-block__header{
}

.header-forecast {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.forecast-block__content {
	margin: 15px 0;
}

.forecast-block__tabs {
	/*display: flex;*/
	/*flex-direction: row;*/
	gap: 15px;
}