.forecast-list {
}

.forecast-list__header {
  margin-bottom: 0.5rem;
}

.header-forecast__wrapper-for-add-button {
}

.forecast-list__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
