.navbar{
    display: block;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 460px) {
    .navigation-list{
        flex-direction: column;
    }
}

.navigation-list__item {
    margin: 10px;
}

.navigation-list__link {
    padding: 5px;
    font-size: 20px;
}