.header-forecast {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.weather-forecast__content {
	margin: 15px 0;
}

.weather-forecast__tabs {
	display: flex;
	flex-direction: row;
	gap: 15px;
}