:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

	/*COLORS*/
	--main-color: #4682A9;
	--secondary-color: #749BC2;
	--secondary-color3: #91C8E4;
	--secondary-color4: #F6F4EB;
	--secondary-color5: #8a8a8a;
	/*ACCENT-COLORS*/
	--dark-accent-color: #171616;
	--light-accent-color: #f3eded;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

input,button,textarea{font-family:inherit;}

a {text-decoration: none;}

li {list-style: none}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}


