.week-forecast-card {
  width: 100%;
}

.select-wrapper {
  width: 100px;
  margin: 0 auto;
}

.week-forecast-card__header {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.week-forecast-card__content {
}
