.loading-block {
  width: 100%;
  height: 100%;
  margin: 20vh 0;
  text-align: center;
  font-size: 5rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--secondary-color5);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
