.search-field {
  position: relative;
  /*border: 1px solid var(--dark-accent-color);*/
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  border-radius: 15px;
  padding: 5px 10px;
}

.button-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-20%, -50%);
}
